body{
    margin:0;
    padding: 0;
}


.titre {
    display: block;
    color: brown;
    text-decoration: none;
    font-family: Oleo Script Swash Caps;
    font-size: 6vw;
    font-style: italic;
    line-height: 0.75em;
}

.titre:hover {
    color: black;
}

.titre p {
    padding: 20px;
}

.titre .span {
    color: rgb(73, 4, 4);
    font-family: Oleo Script Swash Caps;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    margin-left: 3em;
}

.link {
    padding: 1em;
}

.lienNav {
    color: rgb(189, 75, 40);
    font-family: Oleo Script Swash Caps;
    font-size: 2vw;
    padding-bottom: 3vh;

}